@model CITI_Oruro.Models.ViewModel.ViewModelCuotum
@{
    int cont = 1;
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ImprimirVenta</title>
    <style>
        .contenedor {
            
        }

        h2 {
            text-align: center
        }

        .imagen {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        body {
            font-family: Arial, Helvetica, sans-serif
        }

        p.title {
            font-weight: bold;
        }

        p.title2 {
            font-weight: bold;
            color: #03A99F;
            font-size: 20px;
        }

        p.text {
            font-size: 15px;
            font-weight: 100;
            color: #858585;
        }

        p {
            margin: 0px
        }

        .tbth {
            text-align: left;
        }

        table.tbproductos {
            border-collapse: separate;
            border-spacing: 4px;
        }

            table.tbproductos thead tr th {
                background-color: #03A99F;
                
                font-size: 15px;
                color: white;
            }

            table.tbproductos tbody tr td {
                
            }

        .item {
            font-size: 15px;
            font-weight: 100;
            color: #757575;
        }

        .item-2 {
            font-size: 15px;
            font-weight: bold;
            color: #757575;
        }

        .item-3 {
            font-size: 15px;
            font-weight: bold;
            background-color: #03A99F;
            color: white;
        }

        .td-item {
            border-bottom: 2px solid #E8E8E8 !important;
        }
    </style>
</head>
<body>

    <div class="contenedor">
        <table style="width:100%">
            <tr>
                <td>
                    <img class="imagen" src="~/imagenes/siboruro.jpg" style="width: 50px;" />
                </td>
            </tr>
            <tr><td align="center"><p class="title">COLEGIO DE INGENIEROS EN TECNOLOGIAS DE LA INFORMACIÓN  ORURO</p></td></tr>
            <tr><td align="center">Página web: citior.org.bo</td></tr>
            <tr><td align="center">Correo: finanzas@citior.org.bo </td></tr>
        </table>

        <h2>RECIBO OFICIAL # @Model.IdCuota </h2>
        
        <p><b>RNI:</b> @Model.IdIngenieroNavigation.Rni </p>
        <p><b>NOMBRE:</b> @Model.IdIngenieroNavigation.NombreCompleto</p>
        <p><b>ESPECIALIDAD:</b> @Model.IdIngenieroNavigation.Especialidad</p>

        <hr />

        <tr>
            <td><p class="text">Por Concepto de: Pago de Cuota</p></td>
        </tr>
        <table class="tbproductos" style="width:100%">
            <thead>
                <tr>
                    <th class="tbth" style="width: 10%">Nro.</th>
                    <th class="tbth" style="width: 30%">DETALLE</th>
                    <th class="tbth" style="width: 20%">MONTO</th>
                </tr>
            </thead>
            <tbody>
                 @{
                    foreach (var item in Model.DetalleCuota)
                    {
                        <tr>
                            <td class="td-item"><p class="item">@cont</p></td>
                            <td class="td-item"><p class="item">@item.DetalleMes</p></td>
                            <td class="td-item"><p align="right" class="item">@item.Monto</p></td>
                        </tr>

                    }
                }
            </tbody>
        </table>

        <table style="width:100%">
            <tr>
                <td align="right"><p>Sub Total Bs:</td>
                <td align="right"><p class="title">@Model.Total</td>
            </tr>
            <tr>
                <td align="right">Descuento Bs:</td>
                <td align="right"><p class="title">0</td>
            </tr>
            <tr>
                <td align="right">Total Bs:</td>
                <td align="right"><p class="title">@Model.Total</td>
            </tr>
        </table>

        <hr />
        <p>Son: @Model.IdUsuarioNavigation.Password CON 00/100 BOLIVIANOS</p>
        <hr />

        

        <p align="center"><b>¡Gracias por tu aporte! </b>Estamos trabajando para brindar a todos los colegiados diferentes beneficios</p>
        <div class="text-center">
            <img class="imagen" src=" data:image /png;base64,khkhkkh" height="60" width="60" />
            <p style=" text-align:center" class="text">Escanee para verificar su pago</p></>
        </div>

    </div>
    
    <p class="text">Usuario: @Model.IdUsuarioNavigation.Cuenta</p></>

    <p class="text">Fecha: @Model.Fecha</p>

</body>
</html>

